.ration__main {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.ration__main th {
  outline: 1px solid rgb(63, 63, 63);
  margin: 0 10px;
  min-width: 80px;
  width: 100px;
}

.ration__main td {
  outline: 1px solid rgb(63, 63, 63);
}

.ration__wrapper {
  height: 100%;
  width: 100%;
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ration__table-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 20px;
  max-height: 70vh;
}

.ration__table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.ration__table tr {
  height: 40px;
  min-height: 40px;
}

.ration__table thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100000000000;
}

.ration__title-row {
  text-align: center;
}

.ration__title-cell {
  text-align: center;
  font-weight: bold;
  background-color: #ccdce9;
  font-size: 18px;
}

.ration__title-cell_main {
  width: 300px;
}

.ration__title-cell-nutrients {
  position: sticky;
  left: 0; 
  top: 0;
  z-index: 100000000000;
  outline: 1px solid rgb(63, 63, 63);
}

.ration__total-row {
  background-color: #f9f9f9;
}

.ration__food-composition-total {
  text-align: left;
  padding-left: 15px;
  background-color: #ccdce9;
  font-size: 20px;
}

.ration__category {
  padding-left: 20%;
  background-color: #a1b7c7;
  font-size: 20px;
}

.ration__ingredient {
  position: sticky;
  left: 0;
  top: 0;
  background-color: #ccdce9;
  padding: 2%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  max-width: 300px;
  overflow: hidden;
  z-index: 100000000;
}

.ration__ingredient-pencil {
  height: 13px;
  margin-right: 5px;
}

.ration__ingredient-name {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-grow: 1;
  margin: 10px;
  font-weight: bold;
  overflow: hidden;
  padding-right: 20px;
}

.ration__ingredient-name select {
  background: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
  margin-left: 8px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../../style/img/Arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

.ration__ingredient-name select option {
  background-color: #fff;
  color: #333;
}

.ration__ingredient-cross {
  z-index: 10000;
}

.ration__ingredient-arrow {
  height: 20px;
}

.ration__ingredient-empty-space {
  display: none;
}

.ration__ingredient-row:hover {
  background-color: #f5f5f5;
}

.ration__checkbox {
  width: 20px;
  height: 20px;
  margin: 10px;
  flex-shrink: 0;
}

.ration__table input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
}

.ration__table input[type="number"]:disabled {
  background-color: #f9f9f9;
  color: #555;
}

.ration__button {
  display: flex;
  justify-content: end;
  margin: 5%;
}
