.registration {
    margin-top: 40px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .registration__wrapper {
    min-height: 100%;
    overflow: hidden;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .registration__avatar {
    margin-bottom: 20px;
  }
  
  .registration__avatar-image {
    width: 160px;
    height: 160px;
  }
  
  .registration__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin-left: 8%;    
  }
  
  .registration__input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .registration__button {
    display: flex;
    justify-content: end;
    margin: 10% 5% 5% 0;
  }
  