@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');

/* !Обнуление стилей */
*,
*::before,
li{
    list-style: none;
}
a,
a:hover,
a:visited{
    text-decoration: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}
body{
    height: 100%;
    line-height: 1;
}
html{
    height: 500px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* !shapka */

nav{
    margin: 0 auto;
    display: block;
    /* width: 1600px; */
    width: 1500px;
    margin-top: -2%;
}
.extra-block{
    margin: 58px 92px 0px 53px;
}


.menu {
    display: inline-block;
    width: 850px;
    border-bottom: 1px solid black; 
    padding: 0px 12px 22px 0px;
}
.menu__logo {

}
.logo-block {
}

.menu__link:visited {
    color:black;
}
.logo-block__text {
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.035em;
    text-transform: capitalize;
}
.logo-block__text::before{
    content:url(../img/vilka.svg);
    display: inline-block;
    width:48px;
    height: 54px;
    vertical-align: middle;
    margin-left: 35px;
}
.menu__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self:center;
    display: inline-block;
}
.menu__title:not(:first-child){
    margin-left: 60px;
}

.menu__img {
    vertical-align: middle;
    margin-left: 60px;
}
.page-name {
    left:100px;
    bottom: 80px;
    display: inline-block;
    position: relative;
    top: 30px;
    width: 200px;
    text-shadow: none;
}

.page-name2{
  text-shadow: none;
}

  .header hr{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }
  
  #ration_name{
    font-size: 35px;
    font-style: bold;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }

  #navigation{
    list-style: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 20px;
    text-shadow: #9c9c9c 0 3px 5px;
    margin-top: 10px;
  }
  
  #navigation li{
    display: inline;
    padding: 0 20px;
    cursor: pointer;
  }
  
  #fork_and_spoon{
    margin-bottom: -19px;
  }
  #question{
    margin-bottom: -13px;
  }
  
  #navigation li:hover{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }

  

  #Taste{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 900;
  } 
#navigation{
    font-family: 'Montserrat', sans-serif;
}

#save {
    width: 200px;
    height: 50px;
    color: white;
    background-color: #A1B7C7;
    border-color: #A1B7C7;
    border-radius: 3px;
    margin-left: 75%;
    margin-right: auto;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20;
  }

  div.info {
    display: inline-block;
    width:100%;
    margin: 20px;
    padding-left: 3%;
  }

  div.info2 {
    display: inline-block;
    width:100%;
    margin: 20px;
    padding-left: 3%;
    margin-top: -1%;
  }

  span.left{
    float: left;
    width: 30%;
    font-family: 'Montserrat', sans-serif; 
    font-weight:600;
    font-size: 20;
    padding-top: 1%;
    display: block;
  }
  span.right{
    float: right;
    width: 70%;
    font-family: 'Montserrat', sans-serif; 
    font-size: 20;
  }
  .info input{
    font-family: 'Montserrat', sans-serif;
    font-size: 18;
    width: 70%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
  }
  .info input[type = "checkbox"]{
    width: 2%;
    zoom: 4;
  }
  .info select{
    overflow: hidden;
  }
.info input[type ="date"]::-webkit-calendar-picker-indicator{
    display: block;
    background:url("../img/Calendar.png") no-repeat;
    background-size:contain;
    margin-right: 2%;
    zoom: 1.7;
}
#description{
    width: 70%;
    font-family: 'Montserrat', sans-serif; 
    font-size: 18;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
}
.info select{
    font-family: 'Montserrat', sans-serif; 
    font-size: 18;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 70%;
}


#restrict{
    list-style-type: none;
    font-family: 'Montserrat', sans-serif; 
    font-size: 18;
}

#restr{
    border: 0px;
    zoom: 0.65;
}

#restrictions{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#border_div{
    border: 1px solid black;
    border-radius: 5px;
    width: 70%;
}

.wrapper{
  margin-top: -200px;
  min-height: 100%;
  overflow: hidden;
  width: 1300px;
  margin: 0 auto;
}

.b{
  border: 1px solid #000000;
}

.button{
  margin-left: 200px;
}

.rcheckbox{
  margin-top: -15px;
}

.pass-icon{
  position: absolute;
  cursor: pointer;
}

.pass-icon2{
  max-width: 40px;
  max-height: 40px;
  margin-left: 600px;
  margin-top: 10px;
}