@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');


/* !Обнуление стилей */
*,
*::before,
*::after {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    height: 100%;
    line-height: 1;
}

html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

/* !shapka */

nav{
    margin: 0 auto;
    display: block;
    width: 1500px;
}
.extra-block{
    margin: 58px 92px 0px 53px;
    position: relative;
}

.menu {
    display: inline-block;
    width: 850px;
    border-bottom: 1px solid black; 
    padding: 0px 12px 22px 0px;
}
.menu__logo {

}
.logo-block {
}

.menu__link:visited {
    color:black;
}
.logo-block__text {
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.035em;
    text-transform: capitalize;
}
.logo-block__text::before{
    content:url(../img/vilka.svg);
    display: inline-block;
    width:48px;
    height: 54px;
    vertical-align: middle;
    margin-left: 35px;
}
.menu__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self:center;
    display: inline-block;
}
.menu__title:not(:first-child){
    margin-left: 60px;
}

.menu__img {
    vertical-align: middle;
    margin-left: 60px;
}
.page-name {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    text-align: right;
}
.page-name__title {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}
.noselect{
    margin-top: 40px;
    -webkit-touch-callout: none; /* iOS Safari */ 
    -webkit-user-select: none; /* Safari */ 
    -khtml-user-select: none; /* Konqueror HTML */ 
    -moz-user-select: none; /* Old versions of Firefox */ 
    -ms-user-select: none; /* Internet Explorer/Edge */ 
    user-select: none;
}
/* !Main Part */

main{
    margin-top: 90px;
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */ 
    -webkit-user-select: none; /* Safari */ 
    -khtml-user-select: none; /* Konqueror HTML */ 
    -moz-user-select: none; /* Old versions of Firefox */ 
    -ms-user-select: none; /* Internet Explorer/Edge */ 
    user-select: none;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    width: 1300px;
    margin: 0 auto;
}
thead{
    position: sticky;
    top: 0px;
    background-color:white;
    z-index:10;
    
}
table {
    width: 1250px;
    height: 500px;
    display: block;
    overflow: scroll;
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid black;
}

th, td{
    padding: 0 7px 0 3px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
td {

}

.td_weight {
    width: 10px;
}

.title-block__text,.title-date__datetime,.food-composition__title,.food-composition__total, .food-composition__add{
    color:#000000;
    line-height: 35px;
    font-size:18px;
    font-weight:400;
    font-family:"Montserrat";
    width: 40px;
}
.food-composition__title,.food-composition__total,.food-composition__add{
    text-align: left;
}
.title-block__text,.food-composition__title,.food-composition__total, .food-composition__add{
    font-weight: 700;
}

.title-block__text, .food-composition__title, .food-composition__total, .food-composition__add{
    background-color: #CCDCE9;
}

.title-date__datetime{
    background-color: #A1B7C7;
}
.food-composition__total{
    padding: 0px 15px 0px 30px;
}
/* !Главная колонка */
.main-column{
    min-width:125px;
}
/* !Кнопка Добавления */
.food-composition__add {
}
.add-field {
    min-width: 150px;
    position: relative;
}
.add-field__arrow {
    width: 19px;
    height: 11px;
    vertical-align: middle;
}
.add-field__text {
    display: inline-block;

}

/* !Список добавления Добавления */

.add-field__hidden {
    position: absolute;
    width: 110%;
    background-color:white;
    bottom:0;
    left: 12%;
    z-index: 50;
    border-radius: 5px;
    border: 2px solid black;
}
.new-list__subblock{
    height: 100%;
    /* padding: 7px; */
}
.new-list{
    display:none;
}
.new-list__ingredients {
    text-align: center;
    padding: 25px;
}
.new-list__line{
    width:100%;
    border:1px solid black;
    height:1px;
    opacity: 0.7;
}
.new-list__text {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}
.new-list__excomposition {
    text-align: center;
    padding: 5px 20px 5px 20px;
}
.new-list__newcomposition {
    text-align: center;
    padding: 5px 50px 5px 50px;
}
/* !Кнопка композиции */

.food-composition__title {
}
.composition-title-field {
    position: relative;
}
.composition-title-field__flex{
    display: flex;
    justify-content: space-between;
    gap: 0px 5px;
}
.composition-title-field__edit {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.composition-title-field__text {
    /* display: inline-block; */
    flex-grow: 1;
    flex-basis: 100%;
}
.composition-title-field__del {
    width: 15px;
    height: 15px;
    margin-top: 10px;
}
/* !Поле Удаления */

.composition-title-field__hidden {
    position: absolute;
    width: 250px;
    height: 90px;
    background-color:#FFAAAA;
    bottom:0;
    left: 100%;
    /* right: 50px; */
    z-index: 50;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.composition-delete-block {
}
.composition-delete-block__title {
    flex: 1 0 100%;
    text-align: center;
    font-weight: normal;
}
.composition-delete-block__subblock {
    flex:1 0 50%;
}
.composition-delete-block__subfirst {
    text-align: center;
    background-color:#FF4141;
    /* width: 30px;
    height: 30px; */
}
.composition-delete-block__first {
    font-weight: normal;
}
.composition-delete-block__subsecond {
    text-align: center;
    background-color:#6BE340;
}
.composition-delete-block__second {
    font-weight: normal;
}



input:not(input[type="checkbox"],input[type="text"]) {
    width: 55px;
    height: 20px;
    margin: 2px 15px 2px 15px;
    padding-left: 0px;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #272727;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
input[type="number"]{
    margin: 0px 0px 0px 0px;

}
input[type="number"]:focus {
    outline: 0.1;
  }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}


table::-webkit-scrollbar {
    width: 10px;
}
table::-webkit-scrollbar-track {
    background: #FFFFFF;
}
table::-webkit-scrollbar-thumb {
    background: #A1B7C7;
}
table::-webkit-scrollbar-thumb:hover {
    background: #393636;
}

input:disabled {
    background: none;
}

/* !Button */

.submit-block{
    text-align: right;
    margin-bottom: 20px;
    margin-top: 30px;
}

.submit-block__button:active{
    box-shadow: inset 0px 0px 35px 5px #5b7dab;
}


/* !Button-repeat */

.button-update {
    position: absolute;
    top:-70px;
}
.button-update__text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: white;
    padding: 5px 10px;
    background: #A1B7C7;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    display: inline-block;
}
.button-update__text:active{
    box-shadow: inset 0px 0px 35px 5px #5b7dab;
}

/* !Модальное окно - Уведомление */

.popup {
    position:fixed;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top:0;
    left:0;
    opacity:0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 500;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    background-color: #fff;
    color: #000;
    width: 85%;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
    min-height: 100%;
}

.popup:target{
    opacity:1;
    visibility: visible;
}
.popup:target .popup__content{
    transform: translate(0px,0px);
    opacity: 1;
}


/* !CSSfuncpopup */

.choise-block {
    border: 1px solid #000000;
    border-radius: 5px;
    display: inline-block;
    width: 600px;
    /* height: 300px; */
    height: 100%;
    padding: 15px 15px;
}
.selected-ingredients {
    border: 1px solid #000000;
    border-radius: 5px;
    display: inline-block;
    width: 400px;
    height: 100%;
    /* height: 300px; */
    vertical-align: top;
    margin-left: 70px;
    padding: 15px 15px;
}
.choise-block__search {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    background:url(../img/pencil.png) no-repeat;
    background-position: 97% center;
    background-size: 20px 20px;
    font-size: 20px;
    padding: 10px;
}
.choise-block__ingredients {
    margin-top: 15px;
}
.ingredients-block {
}


.subblock-category__subcategory-block {
    margin-top: 10px;
}
.subblock-category__checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.subblock-category__text {
    display: inline-block;
    vertical-align: text-top;
}


.choise-block__line {
    width:100%;
    border:1px solid black;
    height:1px;
    margin-top: 10px;
    opacity: 0.7;
    
}
.choise-block__add-ingredient {
    margin-top: 15px;
}
.ingredient-add {
}
.ingredient-add__checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background:linear-gradient(rgb(80,80,80),rgb(80,80,80)), linear-gradient(rgb(80,80,80),rgb(80,80,80));
    background-position:center;
    background-size: 50% 1.5px,1.5px 50%;
    background-repeat:no-repeat;
    border-radius:50%;
    border: 1px solid black;
}
.ingredient-add__checkbox:active{
    background-color: lightgray;
}
.ingredient-add__text {
    display: inline-block;
    vertical-align: text-top;
    text-transform: capitalize;
}

.selected-ingredients__title {
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;


}
.selected-ingredients__line {
    width:100%;
    border:1px solid black;
    height:1px;
    margin-top: 10px;
    opacity: 0.7;
}
.selected-ingredients__options {
}
.options-block {
    margin-top: 20px;
}
.options-block__checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.options-block__text {
    display: inline-block;
    vertical-align: text-top;

}
.selected-ingredients__invisible {
    /* border:1px solid black; */
    margin-top: 10px;
    text-align: center;
    padding: 5px 0px;
}
.selected-ingredients__text {
    font-size: 20px;
}


/* !стрелки подблоков */
.ingredients-block__category {
    margin-top: 10px;
    width: 100%;
}
.ingredients-block__checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.ingredients-block__checkbox2 {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.ingredients-block__text {
    display: inline-block;
    vertical-align: text-top;
}
.ingredients-block__main-subblock{
    width: 100%;
    display: flex;
}
.ingredients-block__text-checkbox{
    display: inline-block;
}
.ingredients-block__img{
    width: 15px;
    height: 10px;
    vertical-align: baseline;
    margin-left: auto;
    /* text-align: right; */
}
/* ---- */
.ingredients-block__subblock {
}
.subblock-category {
    margin-left: 25px;
}
/* --------------------------- */
.ingredients-block__img_rotate{
    transform: rotate(180deg);
    transition: 0.1s 0.1s;
}
/* .list__img_arrow-rotate{
    transform: rotate(180deg);
    transition: 0.1s 0.1s;
} */


/* !button */

form{
    /* height: 100vh; */
}

.submit-block{
    text-align: right;
    margin-bottom: 50px;
    /* position: absolute;
    bottom: -50px;
    right: 50px; */
}
.submit-block__button {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: white;
    padding: 13px 82px;
    background: #A1B7C7;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}


.submit-block__button:active{
    box-shadow: inset 0px 0px 35px 5px #5b7dab;
}
/* ------------------------------------------------------------------ */


.submit-block__button {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: white;
    padding: 13px 82px;
    background: #A1B7C7;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    display: inline-block;
}
