@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');

/* !Обнуление стилей */
*,
*::before,
*::after{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a,
a:hover,
a:visited{
    text-decoration: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: inherit;
}
body{
    height: 100%;
    line-height: 1;
}
html{
    height: 500px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* !shapka */

nav{
    margin: 0 auto;
    display: block;
    /* width: 1600px; */
    width: 1500px;
}
.extra-block{
    margin: 58px 92px 0px 53px;
}


.menu {
    display: inline-block;
    width: 850px;
    border-bottom: 1px solid black; 
    padding: 0px 12px 22px 0px;
}
.menu__logo {

}
.logo-block {
}

.menu__link:visited {
    color:black;
}
.logo-block__text {
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.035em;
    text-transform: capitalize;
}
.logo-block__text::before{
    content:url(../img/vilka.svg);
    display: inline-block;
    width:48px;
    height: 54px;
    vertical-align: middle;
    margin-left: 35px;
}
.menu__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-self:center;
    display: inline-block;
}
.menu__title:not(:first-child){
    margin-left: 60px;
}

.menu__img {
    vertical-align: middle;
    margin-left: 60px;
}
.page-name {
    left: 1000px;
    bottom: 80px;
    display: inline-block;
    position: relative;
    margin-top: 20px;
}


.page-name__img{
    margin-left: 0px;
}

.page-name__title {
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    line-height: 37px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    text-align: center;
}

/* !Main part */
main{
    margin-top: 0px;
    align-self:center;
    margin-left: 100px;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    width: 1300px;
    margin: 0 auto;
    margin-top: -30px;
}
.racion {
    display: inline-block;
}
.racion__main-block {
}

.food-restrictions {
    margin-bottom: 82px;
    margin-top: -25px;
}
.food-restrictions__string {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 22px 0px 24px 50px;
    height: 70px;
    width: 600px;
    font-size: 28px;
    margin-top: 30px;
}

.food-restrictions__string2 {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 22px 0px 24px 50px;
    height: 40px;
    width: 560px;
    font-size: 20px;
    margin-top: -10px;
}

.food-restrictions__stringplaceholder {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #272727;
}
.food-restrictions__title {
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin: 12px 0px 0px 171px;
    display: inline-block;
}

.food-restrictions__title2 {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin: 12px 0px 0px 171px;
    display: inline-block;
    font-weight: bolder;
}

.container {
    display: inline-block;
    margin-left: 1000px;
    font-size: 24px;
}

.prohibited-ingredients {
    margin-top: -20px;
    display: inline-block;
}
.prohibited-ingredients__ingredients {
    font-style: normal;
    font-weight: 400px;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 23px;
    display: inline-block;
}

.prohibited-ingredients__ingredients2 {
    font-style: normal;
    font-weight: 400px;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 23px;
    display: inline-block;
}

.prohibited-ingredients__choice {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 19px 163px 22px 37px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    margin-bottom: 80px;
}
.prohibited-ingredients__point {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.ingredients-list{
    margin-top: -50px;
}

.ingredients-table__ingredients{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: lowercase;
    margin-left: 10px;
}

.ingredients-table__checkbox{
    transformscale: (1.8, 1.9);
    cursorpointer: ();
}
.ingredients-table{
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 0px 10px 20px;
}
.ingredients-list__title{
    font-style: normal;
    font-weight: 400px;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 23px;
}


.actions {
    display: inline-block;
    vertical-align: top;
    margin: -30px 0 0px 173px;
    margin-top: 500px;
}
.actions__subblock{
    margin-bottom: 56px;
}
.actions__time {
    font-style: normal;
    font-weight: 400px;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0px 0px 16px 48px;
    font-weight: bolder;
}
.actions__input-block{

}

.actions__checkbox{
    margin-right: 21px;
     transformscale: (1.8, 1.9);
    cursorpointer: (); 
    width: 24px;
    height: 25px;
    border: 1px solid black;
}
.actions__date_margin-28{
    margin-bottom: 28px;
}

.actions__date{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    opacity: 0.7;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0px 0px 0px 28px;
    width: 350px;
    height: 50px;
    text-transform: lowercase;

}

.times-of-day {
    display: block;
    margin-left: 80px;
}
.times-of-day__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}
.times-of-day__subblockfirst-child{
    margin-bottom: 19px;
}
.times-of-day__checkbox{
    margin-right: 10px;
    width: 24px;
    height: 25px;
    border: 1px solid black;
    vertical-align: bottom;;
}
.button {
    border-radius: 5px;
    box-sizing: border-box;
    text-align: right;
    margin-left: 850px;
    margin-top: -50px;
    display: block;
}

.button__text {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 13px 82px;
    background-color: #A1B7C7;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}


/* */
.big-title {
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 40px;
}
.main-block {
}
.choise-block {
    border: 1px solid #000000;
    border-radius: 5px;
    display: inline-block;
    width: 600px;
    height: 450px;
    /* height: 100%; */
    padding: 15px 15px;
    margin-top: -30px;
}
.selected-ingredients {
    border: 1px solid #000000;
    border-radius: 5px;
    display: inline-block;
    width: 400px;
    height: 100%;
    /* height: 300px; */
    vertical-align: top;
    margin-left: 70px;
    padding: 15px 15px;
}
.choise-block__search {
    border: 1px solid #000000;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    background:url(img/pencil.png) no-repeat;
    background-position: 97% center;
    background-size: 20px 20px;
    font-size: 20px;
    padding: 10px;
}
.choise-block__ingredients {
    margin-top: 20px;
    height: 300px;
}

.subblock-category__subcategory-block {
    margin-top: 10px;
}
.subblock-category__checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.subblock-category__text {
    display: inline-block;
    vertical-align: text-top;
}


.choise-block__line {
    width:100%;
    border:1px solid black;
    height:1px;
    margin-top: 10px;
    opacity: 0.7;
    
}
.choise-block__add-ingredient {
    margin-top: 15px;
}
.ingredient-add {
}
.ingredient-add__checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background:linear-gradient(rgb(80,80,80),rgb(80,80,80)), linear-gradient(rgb(80,80,80),rgb(80,80,80));
    background-position:center;
    background-size: 50% 1.5px,1.5px 50%;
    background-repeat:no-repeat;
    border-radius:50%;
    border: 1px solid black;
}
.ingredient-add__checkbox:active{
    background-color: lightgray;
}
.ingredient-add__text {
    display: inline-block;
    vertical-align: text-top;
    text-transform: capitalize;
}

.selected-ingredients__title {
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;


}
.selected-ingredients__line {
    width:100%;
    border:1px solid black;
    height:1px;
    margin-top: 10px;
    opacity: 0.7;
}
.selected-ingredients__options {
}
.options-block {
    margin-top: 20px;
}
.options-block__checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.options-block__text {
    display: inline-block;
    vertical-align: text-top;

}



/* !стрелки подблоков */
.ingredients-block__category {
    margin-top: 10px;
    width: 100%;
}
.ingredients-block__checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.ingredients-block__text {
    display: inline-block;
    vertical-align: text-top;
}
.ingredients-block__main-subblock{
    width: 100%;
    display: flex;
}
.ingredients-block__text-checkbox{
    display: inline-block;
}
.ingredients-block__img{
    width: 15px;
    height: 10px;
    vertical-align: baseline;
    margin-left: auto;
    /* text-align: right; */
}
/* ---- */
.ingredients-block__subblock {
}
.subblock-category {
    margin-left: 25px;
}
/* --------------------------- */
.ingredients-block__img_rotate{
    transform: rotate(180deg);
    transition: 0.1s 0.1s;
}
/* .list__img_arrow-rotate{
    transform: rotate(180deg);
    transition: 0.1s 0.1s;
} */


/* !button */

form{
    /* height: 100vh; */
}

.submit-block{
    text-align: right;
    margin-bottom: 50px;
    /* position: absolute;
    bottom: -50px;
    right: 50px; */
}
.submit-block__button {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: white;
    padding: 13px 82px;
    background: #A1B7C7;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}


.submit-block__button:active{
    box-shadow: inset 0px 0px 35px 5px #5b7dab;
}
/* ----------- */

  .actions {
    display: inline-block;
    vertical-align: top;
    margin: -30px 0 0px 173px;
    margin-top: -70px;
}

.checkbox__text{
    font-size: 25px;
    font-style: normal;
    text-align: center;
    margin-top: -28px;
}

.ingredients-block {
    overflow-y: scroll;
    overflow-x: scroll;
}


::-webkit-scrollbar {
    opacity: 0.0;
  }