.wrapper {
    min-height: 100%;
    overflow: hidden;
    width: 1300px;
    margin: 0 auto;
}

.main__heading {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
}

.main__religions1,
.main__religions2,
.main__religions3 {
    margin-top: 30px;
    font-weight: bold;
}

.religions__select,
.religions__select2,
.religions__select3,
.religions__select4 {
    margin-top: 10px;
}

.religions__select a,
.religions__select3 a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.unit {
    display: flex;
    align-items: center;
}

.a {
    margin-left: 5px;
}

.button {
    border-radius: 5px;
    box-sizing: border-box;
    text-align: right;
    margin-left: 850px;
    margin-top: 30px;
    display: block;
    width: 300px;
}

button {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: hsl(0, 0%, 0%);
    padding: 13px 82px;
    background-color: #A1B7C7;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

button:hover {
    color: #FFFFFF;
}
