<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width? initial-scale=1.0">
    <title>Лог действий</title>
    <link rel="stylesheet" href="{% static 'CSS/log_dev.css' %}">
</head>
<body>
    <nav>
        <div class="extra-block">
            <div class="menu">
                <div class="menu__title logo-block">
                    <span class="logo-block__text">Taste</span>
                </div>
                <div class="menu__title">
                    <a href="" class="menu__link" tabindex = "1">Главная</a>
                </div>
                <div class="menu__title">
                    <a href="" class="menu__link" tabindex = "2">Создание рациона</a>
                </div>
                <div class="menu__title">
                    <a href="" class="menu__link" tabindex = "3">Профиль</a>
                </div>
                <img src="{% static 'img/question.svg' %}" alt="" class="menu__img menu__img_margin-88">
            </div>
        </div>
        <div class="page-name">
            <div class="food-restrictions__title">Лог действий</div>
        </div>
    </nav>
    <main>
        <div class="wrapper">
            <form>
                    <div class="food-restrictions">
                        <p>
                            Фильтр: с &nbsp &nbsp
                            <a><input type="date" class="actions__date actions__date_margin-28"> &nbsp &nbsp
                            по &nbsp &nbsp
                            <input type="date" class="actions__date actions__date_margin-28"> &nbsp &nbsp
                            тип действия &nbsp &nbsp
                            <select class="prohibited-ingredients__choice">
                                <option value="1">&nbsp Любой тип</option>
                                <option value="2">&nbsp Создание/изменение заказа</option>
                                <option value="3">&nbsp Создание/изменение рациона</option>
                                <option value="4">&nbsp Создание/изменение ПК</option>
                            </select>
                        </p>
                    </div>
                    <div class="food-restrictions2">
                        <p>
                            ID объекта &nbsp &nbsp &nbsp &nbsp &nbsp
                            <input type="text" class="food-restrictions__string" placeholder=""> &nbsp &nbsp &nbsp &nbsp &nbsp
                            ID пользователя &nbsp &nbsp &nbsp &nbsp &nbsp
                            <input type="text" class="food-restrictions__string" placeholder="">
                            <button name="button" class="button button__text">
                                Поиск
                            </button> 
                        </p> 
                    </div>
                    <div class="prohibited-ingredients">
                        <div class="choise-block">
                            <div class="choise-block__ingredients ingredients-block">
                                <div class="ingredients-block__category">
                                    <div class="ingredients-block__main-subblock">
                                        <div class="ingredients-block__text-checkbox">
                                            <input type="checkbox" class="ingredients-block__checkbox">
                                            <div type="checkbox" class="ingredients-block__text">Грибы</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ingredients-block__category">
                                    <div class="ingredients-block__main-subblock">
                                        <div class="ingredients-block__text-checkbox">
                                            <input type="checkbox" class="ingredients-block__checkbox">
                                            <div type="checkbox" class="ingredients-block__text">Овощи</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ingredients-block__category">
                                    <div class="ingredients-block__main-subblock">
                                        <div class="ingredients-block__text-checkbox">
                                            <input type="checkbox" class="ingredients-block__checkbox">
                                            <div type="checkbox" class="ingredients-block__text">Мясо</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ingredients-block__category">
                                    <div class="ingredients-block__main-subblock">
                                        <div class="ingredients-block__text-checkbox">
                                            <input type="checkbox" class="ingredients-block__checkbox">
                                            <div type="checkbox" class="ingredients-block__text">Оливки</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>              
            </form>
        </div>
        </main>
        <script src="{% static 'JS/log_dev.js' %}"></script>
</body>
</html>