<html lang="en" dir="ltr">
    <head>
      {% load static %}
        <meta charset="utf-8">
        <title>Просмотр всех ограничений</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CSS/prosmotr_vseh_ogr.css' %}" type ="text/css">
    </head>

    <body>
        <nav>
            <div class="extra-block">
                <div class="menu">
                    <div class="menu__title logo-block">
                        <span class="logo-block__text">Taste</span>
                    </div>
                    <div class="menu__title">
                        <a href="main" class="menu__link" tabindex = "1">Главная</a>
                    </div>
                    <div class="menu__title">
                        <a href="arhiv" class="menu__link" tabindex = "2">Архив</a>
                    </div>
                    <div class="menu__title">
                        <a href="log_dev" class="menu__link" tabindex = "3">Редактор</a>
                    </div>
                    <div class="menu__title">
                        <a href="" class="menu__link" tabindex = "4">Профиль</a>
                    </div>
                    <img src="{% static 'img/question.svg' %}" alt="" class="menu__img">
                <!-- menu_link -->
                </div>
                <div class="page-name">
                  <div class="food-restrictions__title">Ограничения и диеты</div>
              </div>
            </div>
        </nav>
        <main>
          <h1 class="main__heading">ОГРАНИЧЕНИЯ</h1> <br> <br>
          <div class="wrapper">
                <div class="main__religions1">        
                    <div class="religions__christianity">
                      МЕДИЦИНСКИЕ
                    </div>
                    <div class="religions__select b">
                      <a href="redact_diet?text=Медицинские ограничения">
                        Диеты
                      </a>  
                    </div>
                    <div class="religions__select2">
                      <div class="unit b2"> <!-- универсальный блок селекта-->
                        <label class="a" for="add_sick">Диабет</label><br>
                      </div>
                    </div>
                    <div class="religions__select3 b">
                      <a href="sozdanie_medical_ogranich">
                        Ограничения
                      </a>  
                    </div>
                    <div class="religions__select4">
                      <div class="unit b2"> <!-- универсальный блок селекта-->
                        <label class="a" for="add_sick">Молочные продукты</label><br>
                      </div>
                    </div>
                </div>

                <div class="main__religions2">        
                  <div class="religions__christianity">
                    РЕЛИГИОЗНЫЕ
                  </div>
                  <div class="religions__select b">
                    <a href="redact_diet?text=Религиозные ограничения">
                      Диеты
                    </a>  
                  </div>
                  <div class="religions__select2">
                    <div class="unit b2"> <!-- универсальный блок селекта-->
                      <label class="a" for="add_sick">Православный пост</label><br>
                    </div>
                  </div>
                  <div class="religions__select3 b">
                    <a href="sozdanie_religion_ogranich">
                      Ограничения
                    </a>  
                  </div>
                  <div class="religions__select4 ">
                    <div class="unit b2"> <!-- универсальный блок селекта-->
                      <label class="a" for="add_sick">Рыба</label><br>
                    </div>
                  </div>
                </div>

                <div class="main__religions3">        
                  <div class="religions__christianity">
                    ПО ИНГРЕДИЕНТАМ
                  </div>
                  <div class="religions__select b">
                    <a href="redact_diet?text=Ограничения по ингредиентам">
                      Диеты
                    </a>  
                  </div>
                  <div class="religions__select2">
                    <div class="unit b2"> <!-- универсальный блок селекта-->
                      <label class="a" for="add_sick">Грибы</label><br>
                    </div>
                  </div>
                  <div class="religions__select3 b">
                    <a href="sozdanie_ingredient_ogranich">
                      Ограничения
                    </a>  
                  </div>
                  <div class="religions__select4">
                    <div class="unit b2"> <!-- универсальный блок селекта-->
                      <label class="a" for="add_sick">Рыба</label><br>
                    </div>
                  </div>
                </div>
          </div>
          <form action="ration">
            <button name="button" class="button button__text">
                Готово
            </button> 
        </form>   
        </main>
        <script src="{% static 'JS/prosmotr_vseh_ogr.js' %}"></script>
    </body>
</html>