<html lang="en" dir="ltr">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <title>Редактирование рациона</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CSS/redact_ration.css' %}" type ="text/css">
    </head>

    <body>
        <nav>
            <div class="extra-block">
                <div class="menu">
                    <div class="menu__title logo-block">
                        <span class="logo-block__text">Taste</span>
                    </div>
                    <div class="menu__title">
                        <a href="/main" class="menu__link" tabindex = "1">Главная</a>
                    </div>
                    <div class="menu__title">
                        <a href="" class="menu__link" tabindex = "2">Архив</a>
                    </div>
                    <div class="menu__title">
                        <a href="" class="menu__link" tabindex = "3">Редактор</a>
                    </div>
                    <div class="menu__title">
                        <a href="" class="menu__link" tabindex = "4">Профиль</a>
                    </div>
                    <img src="{% static 'img/question.svg' %}" alt="" class="menu__img menu__img_margin-88">
                <!-- menu_link -->
                </div>
                <div class="page-name">
                    <input class="page-name2" id = "ration_name" type ="text" placeholder="НАЗВАНИЕ РАЦИОНА">
                </div>
            </div>
        </nav>
        <main>
            <div class="wrapper">
                <div class ="info"><span class="left">ОРГАНИЗАЦИЯ</span> <span class="right"><input type ="text" placeholder="Имя пользователя"></span></div>
                <br>
                <div class ="info"><span class="left">ДАТА НАЧАЛА ПЕРИОДА</span> <span class="right"><input type = "date" value ="2022-11-29"></span></div>
                <br>
                <div class ="info"><span class="left">КОЛИЧЕСТВО ДНЕЙ</span> <span class="right">                
                <select name="username" class="prohibited-ingredients__choice">
                    <option value="1" class="prohibited-ingredients__point">7 (1 нед.)</option>
                    <option value="2" class="prohibited-ingredients__point">14 (2 нед.)</option>
                    <option value="3" class="prohibited-ingredients__point">21 (3 нед.)</option>
                    <option value="4" class="prohibited-ingredients__point">28 (4 нед.)</option>
                    <option value="5" class="prohibited-ingredients__point">35 (5 нед.)</option>
                    <option value="6" class="prohibited-ingredients__point">42 (6 нед.)</option>
                    <option value="7" class="prohibited-ingredients__point">49 (7 нед.)</option>
                    <option value="8" class="prohibited-ingredients__point">56 (8 нед.)</option>
                </select></span></div>
                <br>
                <div class ="info"><span class="left">ОПИСАНИЕ</span> <span class="right"><textarea class="b" id="description" type ="text" value="" rows="5"></textarea></span></div>
                <br>
                <div class ="info"><span class="left">ПРИЁМЫ ПИЩИ</span> <span class="right">
                    <select name="username" class="prohibited-ingredients__choice">
                        <option value="1" class="prohibited-ingredients__point">1</option>
                        <option value="2" class="prohibited-ingredients__point">2</option>
                        <option value="3" class="prohibited-ingredients__point">3</option>
                        <option value="3" class="prohibited-ingredients__point">4</option>
                        <option value="3" class="prohibited-ingredients__point">5</option>
                    </select>
                </span></div>
                <br>
                <div class ="info"><span class="left">ЗААРХИВИРОВАН</span> <span class="right rcheckbox"><input type ="checkbox"></span></div>
                <br>
                <div class ="info info2"><span class="left">РЕДАКТОР</span> <span class="right"><input type = "text" value="Иванов Сергей Сергеевич"></span></div>
                <br>
                <div class ="info"><span class="left" placeholder="Ограничение не выбрано">ОГРАНИЧЕНИЕ</span> 
                    <span class="right"><textarea disabled class="b" resize="none" id="description" type ="text" value="" rows="5" placeholder="Ограничение не выбрано"></textarea></span>
                    <span class="pass-icon" id="pass-icon">
                        <a href="ration/restriction">
                            <img class="pass-icon2" src="{% static 'img/pencil.png' %}">
                        </a>
                    </span>
                </div>
                <div>
                    <button  class="button" id="save" onclick="window.location.href='/main'">Сохранить</button>
                </div>
            </div>
        </main>
        <script src="{% static 'JS/redact_ration.js' %}">   
        </script>
    </body>
</html>