<!-- <!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/religion_restrictions.css' %}">
    <title>Религиозные ограничения</title>
</head> -->
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Редактирование рациона</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'CSS/religion_restrictions.css' %}" type ="text/css">
    </head>

    <body>
        <nav>
            <div class="extra-block">
                <div class="menu">
                    <div class="menu__title logo-block">
                        <span class="logo-block__text">Taste</span>
                    </div>
                    <div class="menu__title">
                        <a href="main" class="menu__link" tabindex = "1">Главная</a>
                    </div>
                    <div class="menu__title">
                        <a href="arhiv" class="menu__link" tabindex = "2">Создание рациона</a>
                    </div>
                    <div class="menu__title">
                        <a href="" class="menu__link" tabindex = "3">Профиль</a>
                    </div>
                    <img src="{% static 'img/question.svg' %}" alt="" class="menu__img menu__img_margin-88">
                <!-- menu_link -->
                </div>
                <div class="page-name">
                  <div class="food-restrictions__title">Название рациона</div>
              </div>
            </div>
        </nav>
        <main>
            <div class="wrapper">
              <h1 class="main__heading">РЕЛИГИОЗНЫЕ ОГРАНИЧЕНИЯ</h1> <br> <br>
                <div class="main__religions">
                  <div class="one__religions">
                    <div class="religions">
                      <input type="checkbox" class="checkbox"></input>
                      ХРИСТИАНСТВО
                    </div>
                    <div class="religions__select" name="block_christianstvo">
                      <div class="search">
                        <input class="select__input" type="text" placeholder="Поиск">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="pen">
                          <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"></path>
                        </svg>
                      </div>
                      <div class="ingredients-block">
                        <div class="unit Ch"]> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">Пост</input>
                        </div>
                        <hr>
                        <div class="unit Ch"> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">1</input>
                        </div>
                        <hr>
                        <div class="unit Ch"> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">3</input>
                        </div>
                        <hr>
                        <div class="unit Ch"> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">3</input>
                        </div>  
                        <hr>
                        <div class="unit Ch"> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">3</input>
                        </div>                          
                        <hr>
                        <div class="unit Ch"> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">3</input>
                        </div>  
                        <hr>
                        <div class="unit Ch"> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">3</input>
                        </div>  
                        <hr>
                        <div class="unit Ch"> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">3</input>
                        </div>  
                        <hr>
                        <div class="unit Ch"> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">3</input>
                        </div>
                        <hr>
                      </div>
                    </div>
                  </div>
                  <div class="one__religions">
                    <div class="religions">
                      <input type="checkbox" class="checkbox"></input>
                      ИСЛАМ
                    </div>
                    <div class="religions__select" name="block_islam">
                      <div class="search">
                        <input class="select__input2" type="text" placeholder="Поиск">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="pen">
                          <path d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"></path>
                        </svg>
                      </div>
                      <div class="ingredients-block">
                        <div class="unit Ch2"> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">Исламский пост</input>
                        </div>
                        <hr>
                        <div class="unit Ch2"> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">2</input>
                        </div>
                        <hr>
                        <div class="unit Ch2"> <!-- универсальный блок селекта-->
                          <input type="checkbox" class="unit__text checkbox1">3</input>
                        </div>
                        <hr>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="main__settings">
                    <div class="settings__active">
                      ВЫБРАННЫЕ ОГРАНИЧЕНИЯ:
                      <div class="selected-ingredients">
                        <div class="selected-ingredients__line"></div>
                        <div class="selected-ingredients__invisible">
                            <div class="selected-ingredients__text">Ничего не выбрано</div>
                        </div>
                        <div class="selected-ingredients__line"></div>
                      </div>
                    </div>

                    <form action="javascript:history.back()">
                      <button class="e button">Сохранить</button>
                    </form>
                  </div>
                </div>
            </div>
        </main>
        <script src="{% static 'JS/religion_restrictions.js' %}"></script>
        <script src="{% static 'JS/religion-search.js' %}"></script>
    </body>
</html>