.wrapper {
    min-height: 100%;
    overflow: hidden;
    width: 1300px;
    margin: 0 auto;
}

.block {
    margin-top: 20px;
}

.ingredients-block {
    margin-top: 15px;
}

.Ch {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.selected-ingredients__invisible {
    margin-top: 10px;
    text-align: center;
    padding: 5px 0px;
}
