@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

th, td {
    border: none;
}

div * {
    
}

li {
    list-style: none;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

body {
    height: 100%;
    line-height: 1;
}

html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}