.restrictions__title {
  font-size: 30px;
  font-weight: bold;
  margin: 1% 0 3% 5%;
}

.restrictions {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.restrictions__section {
  margin-bottom: 30px;
  width: 25%;
}

.restrictions__section-header {
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5%;
  text-align: center;
  cursor: pointer;
}

.restrictions__section-title {
  text-decoration: none;
  font-weight: normal;
  color: black;
  font-size: 14px;
}

.restrictions__section-edit {
  position: absolute;
  right: 5%;
  top: 25%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.restrictions__section-edit:hover {
  color: #333;
}

.restrictions__section-content {
  margin-top: 15px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5%;
}

.restrictions__section-subtitle {
  font-size: 13px;
  text-align: center;
}

.restrictions__section-line {
  background-color: #727272;
  height: 1px;
  width: 90%;
  margin: 4% auto;
  z-index: 1000;
}

.restrictions__section-options {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1% 0;
}

.restrictions__section-checkbox {
  min-width: 18px;
  height: 18px;
  margin-left: 6%;
  margin-right: 2%;
}

.restrictions__section-option {
}

.restrictions__button {
  display: flex;
  justify-content: end;
  margin: 5%;
}
